*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
    background-color: #FBEAEB;
}
h1{
    display: flex;
    justify-content: center;
    margin-top: 3.5cm;
    font-size: 40px;
}
.launch-time{
    display: flex;
    margin-top: 100px;
    font-weight: bold;
    justify-content: center;
  
}
.launch-time div{
    flex-basis: 150px;
    color: rgb(58, 0, 19);
}
.launch-time div p{
   font-size: 60px;
   padding-left: 10px;

}
.launch-time div span{
    
    padding-left: 20px;
 }

#span{
    font-size: 55px;
    margin-left: -40px;
 }
